/* Styles for member page */

div {
    background-color:#D1D8C5;
    color:#7E8EF1;
    font-family: open-sans, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

button {
    background-color:#615EFC;
    color:#EEEEEE;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

.member h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.member p {
    color: #666;
    font-size: 16px;
}

.member-card {
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.member-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.member-card-frame {
    padding: 5px;
    margin-top: 5px;
}

.member-details {
    position: sticky;
    top: 20px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.member-card-header {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.member-card-details {
    color: #666;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.member-card-details span {
    margin-right: 10px;
}

.member-card-details span:last-child {
    margin-right: 0;
}

.container {
    background-color:#2E4272;
    display:flex;
}
.column-left {
    width: 600px;
    padding-right: 20px;
}
.column-right {
    background-color:#dde2d4;
    flex-grow: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #7E8EF1; /* Light gray for even rows */
}

tr:nth-child(odd) {
    background-color: #9faaf2; /* White for odd rows */
}

tr:hover {
    background-color: #ddd;
}